In [10]:
#importing necessary libraries
import pandas as pd
import datetime as dt
from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression
import seaborn as sns
import matplotlib.pyplot as plt

"""The line magic command %matplotlib inline enables the drawing of matplotlib figures
in the IPython environment. Once this command is executed in any cell, then 
for the rest of the session, the matplotlib plotswill appear directly below 
the cell in which the plot function was called."""
%matplotlib inline

In [13]:
#loading data
df_Crash = pd.read_csv("Data/traffic.csv")

#inspecting first few rows
df_Crash.head()

         Date  Crashes_per_100k  Season
0  2006-01-01        169.176541  Winter
1  2006-02-01        154.028836  Winter
2  2006-03-01        159.930002  Spring
3  2006-04-01        155.741270  Spring
4  2006-05-01        168.179208  Spring

           Date  Crashes_per_100k  Season
0    2006-01-01        169.176541  Winter
1    2006-02-01        154.028836  Winter
2    2006-03-01        159.930002  Spring
3    2006-04-01        155.741270  Spring
4    2006-05-01        168.179208  Spring
..          ...               ...     ...
175  2020-08-01        136.815697  Summer
176  2020-09-01        135.752824    Fall
177  2020-10-01        159.273228    Fall
178  2020-11-01        141.305140    Fall
179  2020-12-01        131.149870  Winter

[180 rows x 3 columns]